._a9_c{position:absolute}
._a9_d{align-items:center;border:0;box-sizing:border-box;display:flex;flex-direction:column;flex-shrink:0;font:inherit;font-size:100%;font-weight:normal;justify-content:center;margin:0;padding:0;position:relative;vertical-align:baseline}._ajr2:hover{background-color:rgb(var(--ig-stroke))}/*FB_PKG_DELIM*/

#bootloader_ekHmm6j{height:42px;}.bootloader_ekHmm6j{display:block!important;}